/*Inizio-Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    color: white;
    height: 100vh;
    background-color: black;
    
}

.container{
    max-width: 1500px;
    margin: 0 auto;
    padding:40px 10px 0px 20px;
    
}
/*Fine-Generali*/

/*Inizio-icon-top-right*/

.speak-view{
    padding: 2px 5px ;
    border-radius: 5px;
    background-color: grey;
    width: max-content;
    opacity: 0.8;
    position: absolute;
    top: 2px;
    right: 30px;
}

.arrows{
    padding: 2px 5px ;
    border-radius: 5px;
    background-color: grey;
    width: max-content;
    opacity: 0.8;
    position: absolute;
    top: 2px;
    right: 0;
}

/*Inizio-main*/

.square{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: calc(100% / 7);    
}

.immagine-completa{
    padding: 5px 2px;
}

.sfondo{
    position: relative;
}

.micro-name{
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    font-size: 14px;
    padding: 2px;
}
/*Fine-main*/

/*Inizio-footer*/

footer{
    
    background-color: #222222;
}

.flex-footer{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;    
}

.bottoni{
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
}

.bottoni > p{
    font-size: 14px;
}

.icon{
    font-size: 25px;
    padding: 3px;    
}
.mini-arrow{
    font-size: 10px;
}


/*Terza colonna-footer*/
#end{
    background: #4a4a4a;
    color: red;
    font-size: 15px;
    padding: 0px 5px;
    line-height: 60px;
    vertical-align: middle;
}



/*Fine-footer*/
